
.Container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
  }
  .box{
    position: absolute;
    height: 90vh;
    width: 90%;
     background-position: center;
     background-size: cover;
     box-shadow: 0px 0px 10px  black;
  }
 
  .SearchBox input{
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;
    width: 90%;
    padding: 5px;
  }
  .SearchBox input:focus{
    border-bottom: 1px solid  #b17c62;
  }
  .searchIcon{
    background: #b17c62;
    padding: 10px;
}
.location ul, .WeatherDetail ul{
  list-style: none;
    font-size: 18px;
    padding: 0;
    color: white;
     padding: 0px 25px;
}

.location li{
 margin: 10px 0;
 font-weight: 300;
 cursor: pointer;
 
}
.WeatherDetail li{
  margin: 10px 0;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  cursor: pointer;
 }
hr{
  color: black;
    border: 1;
    opacity: 0.5;
    width: 85%;
    margin: 20px auto;
}
.colself{
  height: 90vh;
  padding-left: 20px;
  padding-right: 0px;
  backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3)
}
.temperature{
  position: relative;
  top: 20%;
  left: 7%;
  cursor: pointer;
}
.errorpage{
  justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}
.errorpage img{
width: 200px;
height: 200px;
}
